body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
 color: #444;
 padding-left: 1rem;
}

main{
  display: flex;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.version {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  flex-wrap: wrap;
  align-content: center;
  color: #555;
}

.settings-btn {
  display: flex;
  padding: 5px 0 0 5px;
}

.settings-content {
  margin: 10px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.page {
  position: relative;
  padding: 15px;
  text-align: center;
  background-color: #292929;
  color: white;
  overflow-y: auto;
  height: 100%;
  font-size: large;
  text-decoration: none;
}

.overlay {
  --picture-width : 90%;
  position: absolute;
  width: var(--picture-width);
  margin-left: calc(-1*var(--picture-width) / 2);
  top: 50%;
  left: 50%;
}

a:link {
  color: #008cff;
}

.city {
  display: flex;
  margin: 0;
  font-size: large;
  color: #b3ff00;
}

.information {
  display: flex;
  margin: 0 0 20px 0;
  font-size: smaller;
  color: #c5c5c5;
}

.title {
  font-size: larger;
}

.pagination {
  display: flex;
  padding: 10px;
  justify-content: center;
}

img {
  width: 90%;
}

.favoris {
  height: 100%;
  position: relative;
}

.favoris-list {
  overflow-y: auto;
  border: none;  
  max-height: 50%;
}

.favoris-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 90px;
  gap: 5px;
}

.favoris-add-button {
  width: 100%;
}

.favoris-clear-button {
  width: 100%;
}

.favoris-clear-container {
  position: absolute;
  padding-top: 15px;
  width: 100%;
}


@media (min-width: 900px) {
  .left {
    width: 30%;
  }
  .container {
    width: 70%;
  }
} 

 @media (min-width: 1024px) {
  .left {
    width: 25%;
  }
  .container {
    width: 75%;
  }
} 


@media (min-width: 1600px) {
  .left {
    width: 20%;
  }
  .container {
    width: 80%;
  }
} 

::-webkit-scrollbar {
  width: 5px;
}

.page::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #555; 
}
 
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}